@import '../../styles/variables.css';

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
}



header .container ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 5vh;
}

header .container ul li {
    margin: 0 3vw;
}

#home {
    margin-left: 0;
}

header a {
    text-decoration: none;
    color: white;
    padding-bottom: 1vh;
}

header a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

header li.active a {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.only_mobile {
    display: none;
}



@media screen and (max-width : 768px) {

    header .nav_right {
        display : none;
    }

    header {
        display: block;
        color: white;
        font-size: 2em;
        cursor: pointer;
    }

    .only_mobile {
        display: block;
    }

    header nav ul{
        padding: 0;
        margin-left: 2vw;
    }

    

}