

.guestbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.guestbookh1 {
    font-size: 3em;
    padding: 30px;
}

.guestbook form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.guestbook form textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 70vw;
    font-size: 1.5em;
    border: 2px solid #000;
    border-radius: 5px;
    height: 100px;
    resize: none;
}


.guestbook form button {
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;

}

.error {
    color: red;
    font-size: 1em;
    margin-bottom: 5px;
    font-style: italic;
}



.guestbook .message {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #f9f9f9;
    color: #000;
}

.guestbook .sender {
    font-weight: 300;
    font-size: 0.5em;
    font-style: italic;
}

.guestbook .messages {
    gap: 2vw;
    text-align: center;
    display: grid;
    grid-template-columns: 30vw 30vw;

}